<!doctype html>
<html lang="en">
  <head>
    <title>Contact Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="app.js"></script>
    
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  
  <body ng-app="ContactCheck">
    <div class="container" ng-controller="ContactCheckController">
      <h1>Extractor of Whatsapp Group Number</h1>
      <form>
        <div class="form-group">
          <span style="font-weight: bold">Add your whatsapp group contact list here</span>
          <textarea id="lunch-menu"
          placeholder='"91700000700,7000700070"'
          class="form-control" 
          ng-model="contactMenu"></textarea>
          
      </div>
      <div class="form-group">
        <button type="reset" class="btn btn-default" >Reset</button>
          <button class="btn btn-default" ng-click="contactCheck()" >Submit</button>
      </div>

      </form>
          
         
          <div class="form-group message" id="demo" >
           
          </div>
          <div class="form-group message">
            <span style=color:{{color}}>
              

                 {{message}}
                 
                

            </span>
          </div>
    </div>
 

</body>
</html>